스프링 run 하고 테이블 생성 후 최초 1회만 해주시면 됩니다~~

In [1]:
import pymysql
import csv
import pandas as pd

In [2]:
conn = pymysql.connect(host='localhost', user='khweb', password='khWeb@123', db='mybang_db', charset='utf8mb4')
curs = conn.cursor()

In [3]:
sql = """insert into station (code, line, name, lat, lng) values (%s,%s,%s,%s,%s)"""

f = open('station.csv', 'r', encoding='utf-8')
rd = csv.reader(f)

next(rd)

for line in rd:
    curs.execute(sql, (line[3], line[1], line[2], line[4], line[5]))
    
conn.commit()
conn.close()
f.close()